#map{
    width: 100%!important; 
    height: 100%!important;
    background-color: #f6f6f6;
}

.boton-regresar {
    position: fixed!important;
    top: 40px!important;
    right: 12px!important;
    font-size: 30px!important;
}